
@model IEnumerable<PessoaViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1 class="mt-4">Relatório de Clientes: Modelo 1</h1>
    <p class="lead">Dados básicos como CPF e telefone.</p>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th>CPF</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pessoa in Model)
                {
                    <tr>
                        <td>@pessoa.CpfCnpj</td>
                        <td>@pessoa.Celular</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
